steps:
  # Build the container image for the generated service
  # The tag ':latest' is simple and reliable for this use case.
  - name: 'gcr.io/cloud-builders/docker'
    args:
      - 'build'
      - '-t'
      - '{{ gcp.region }}-docker.pkg.dev/{{ gcp.project_id }}/{{ gcp.repository }}/{{ service.name }}:latest'
      - '.'

  # Push the container image to Artifact Registry
  - name: 'gcr.io/cloud-builders/docker'
    args:
      - 'push'
      - '{{ gcp.region }}-docker.pkg.dev/{{ gcp.project_id }}/{{ gcp.repository }}/{{ service.name }}:latest'

  # Deploy the new version to Cloud Run
  - name: 'gcr.io/google.com/cloudsdktool/cloud-sdk'
    entrypoint: 'gcloud'
    args:
      - 'run'
      - 'deploy'
      - '{{ service.name }}'
      - '--image'
      - '{{ gcp.region }}-docker.pkg.dev/{{ gcp.project_id }}/{{ gcp.repository }}/{{ service.name }}:latest'
      - '--region'
      - '{{ gcp.region }}'
      - '--platform'
      - 'managed'
      - '--allow-unauthenticated'
      - '--project'
      - '{{ gcp.project_id }}'

# We remove the 'images' section as we are explicitly pushing in the steps above.